<div class="countrie">
	<input type="text" class="countrie">
	<input type="button" class="add_language" value="add lang">
	<input type="button" class="remove_countrie" value="remove">
	<div class="languages">
	</div>
</div>