<h1>Listing campaings</h1>

<table id="campaings-table">
  <tr>
    <th>Name</th>
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Campaing</a>