<div id="campaings"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Campaings.Routers.CampaingsRouter({campaings: <%= @campaings.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>